[2013-08-24 14:58] usmanhalalit opened #1 "Count doesn't work on SQLite"
The `->count` method doesn't work on SQLite. Need a stable way.

[2013-08-24 14:59] usmanhalalit opened #2 "Using Get in same instance multiple times doesn't work."

[2013-08-24 15:00] usmanhalalit opened #3 "Need more aggregating methods like count."
max()
min()
and so.

[2013-08-29 08:32] usmanhalalit opened #4 "Query Events don't fire if Get is used twice on same instance."
Problem is with eventId, need a solution for that.

[2013-09-27 12:58] #1 closed, assigned to usmanhalalit

[2013-09-27 12:58] #2 closed, assigned to usmanhalalit

[2013-09-27 12:58] #4 closed, assigned to usmanhalalit

[2013-10-03 14:50] cevarief opened #6 "Select with function"
Using function in select will throw error "Column not found: 1054 Unknown column". For example QB::table('sometable')->select('LEFT(somefield, 7) AS somealias')

[2013-10-03 14:55] cevarief opened #7 "Select could be more flexible"
As addition to array, select could use seperated params : select('field1','field2','field3') or select('field1, field2, field3','another.joinfield')

[2013-10-10 19:15] #6 closed, assigned to nobody

[2014-02-05 15:34] lonnieezell opened #8 "How to get raw query results?"
I'm attempting to find out if a table exists in MySQL using the following:

[code]

However, I can't seem to get the results of that Query where I can tell the number of rows and if the table exists or not.

How should I go about this?

[2014-02-05 16:44] #8 closed, assigned to nobody

[2014-05-15 14:41] matthieusieben opened #11 "Schema handeling"
Would it be possible to add the ability to create (and, eventually, update) database schema?

[2014-06-15 18:42] mrjgreen opened #15 "Option for setting the default fetch mode"
It would be great to be able to set the default fetch mode in the query builder.
Not sure how to go about doing this but if it's something you might consider, I'd be happy to  have go at something and submit a PR.

[2014-06-16 09:32] #15 closed, assigned to nobody

[2014-06-16 20:37] mrjgreen opened #17 "Transaction Support"
Laravel has support for transactions via the

[code]
which auto begins and commits a transaction before and after calling the callback function.

Would you consider adding a method to support this?

[2014-06-24 11:41] beaucox opened #18 "orderBy for multiple columns"
Hi -

I'm having trouble with the orderBy method. When I want to order by more than one column I can't seem to pass the columns in an array as shown in your GitHub docs. I have a feeling I'm missing the boat here... Can anyone help me?

This doesn't work:

[code]

Errors:

[code]

The raw SQL is:

[code]

This works:

[code]

The raw SQL is:

[code]

[2014-06-24 13:40] #18 closed, assigned to nobody

[2014-06-25 08:02] beaucox opened #20 "orderBy array"
I understand now that I have to split my orderBys if I am specifying DESC. Thanks,

However, the array option in orderBy still does not seem to work:

[code]

gives:

[code]

raw SQL:

[code]

My error or ???

Beau.

[2014-07-15 15:46] 3n9 opened #22 "How do I filter by function?"
I'd like to do something like:

[code]

[2014-07-15 16:39] #22 closed, assigned to nobody

[2014-08-24 18:05] matthieusieben opened #24 "Handle DateTime objects"
Would it be possible to handle DateTime objects passed as conditions in where() ?

something like `if ($value instanceof \DateTime) $value->format("Y-m-d H:i:s");`

[2014-08-25 19:25] matthieusieben opened #25 "Set a class and constructor args for fetchAll"
It would be nice to be able to setup a class and constructor argument for the results when using the `get()` method.
Something like:

[code]

[2014-08-25 20:00] matthieusieben opened #26 "Return affected row count on update and delete"
Everything is in the title (see http://php.net/manual/fr/pdo.exec.php ). Thanks for the great work :-)

[2014-09-09 12:06] matthieusieben opened #27 "Merge querries"
Hey,
Would it be possible to provide the ability to 'update or insert if not exist' ?
Something like: https://www.drupal.org/node/310085

[2014-09-09 13:12] #27 closed, assigned to nobody

[2014-10-05 18:49] #26 closed, assigned to nobody

[2014-10-06 10:52] neoascetic opened #29 "How to use columns aliases?"
I want to specify aliases for columns, i. e. something like `SELECT username AS name FROM users`.
Currently I can use raw statements to do that, but they are little bit unhandy. Is there better way to do this? If yes, probably need to add note to the documentation. Otherwise, please, implement it! It will be very helpful, especially on legacy databases.

Thanks.

[2014-10-06 11:56] neoascetic opened #30 "NOT operator support"
I am using pixie in kind of Specification pattern implementation, and I am faced that it supports [NOT](http://dev.mysql.com/doc/refman/5.1/en/logical-operators.html#operator_not) SQL operator only with `IN` clause (`whereNotIn`).

Is it possible to add `NOT` operator support to any clause (`whereIn`, `whereNotIn`, `orWhere`, etc)?

Thanks!

[2014-10-06 22:08] neoascetic opened #33 "Count method should respect limit and offset"
Furthermore, currently if `LIMIT` and `OFFSET` are set, it provides 0 as number of rows, which is wrong.

[2014-10-10 08:26] #30 closed, assigned to nobody

[2014-10-10 09:09] #33 closed, assigned to nobody

[2014-11-05 12:47] neoascetic opened #35 "whereNull and whereNotNull query methods"

[2014-11-08 06:48] #35 closed, assigned to nobody

[2014-11-14 16:40] neoascetic opened #37 "Result uniqueness? Aka SELECT DISTINCT"

[2014-11-19 11:30] #29 closed, assigned to nobody

[2014-11-25 00:33] dragonattack opened #40 "[sqlite] date functions not working?"
driver = sqlite

None of this works:

[code]

However, this works:

[code]

I've tried to debug a bit and I see the `date('now')` part it's going to PDO as it should be, without any sanitizing, so it seems like a PDO issue? Or am I doing something wrong?

[2014-11-25 16:42] neoascetic opened #42 "Ability to specify connection timeout"

[2014-11-26 17:49] neoascetic opened #44 "Log query execution time"
This is possible with event system, but there will be extra lag on events processing, so **raw** execution time should be calculated separately. Probably it is good candidate as third parameter of every `after-*` method.

[2014-11-30 08:07] #44 closed, assigned to nobody

[2014-11-30 08:28] #25 closed, assigned to nobody

[2014-11-30 08:40] #42 closed, assigned to nobody

[2014-12-01 09:34] neoascetic opened #46 "Ability to stop propagation of events and return result from within handler"
May be useful for caching, for example, when `before-select` returns anything other than `null`.

[2014-12-01 11:29] #46 closed, assigned to nobody

[2014-12-10 16:01] pavelinside opened #51 "Multiple join"
Can i join one table several times?

Can i use alias like:
SELECT t1.\* FROM table1 AS t1
    INNER JOIN table2 AS t2 ON t1.id = t2.table1id
    INNER JOIN table2 AS t22 ON t1.id = t22.table1id AND ...

[2014-12-15 15:43] #7 closed, assigned to nobody

[2014-12-15 15:47] #20 closed, assigned to nobody

[2014-12-15 16:17] #51 closed, assigned to nobody

[2015-01-14 18:01] 82rules opened #52 "join on subquery support"
If this is something pixie currently support I'd like to know
Otherwise i'd like to expand support to join on subqueries
for example

select * from table1 alias1
    inner join (select id from table2 where field = 1) alias2 on alias2.id =alias1.id

i see the join param expects a string rather than an object so right now my ideal setup is not funcitonal:

$subquery = QB::table('table2')->select('na

[2015-01-24 12:42] usmanhalalit commented on #52
Unfortunately, Pixie doesn't support it.

[2015-01-24 12:42] #52 closed

[2015-01-27 20:29] 82rules commented on #52
I was able to use the $query->getQuery()->getRawSql() method to make a raw subselect, it was an acceptable comprimise as I can still build my subquery with pixie

[2015-01-28 11:09] usmanhalalit commented on #52
Yep, glad to hear that!

[2015-02-09 20:44] neoascetic commented on #24
+1

[2015-03-01 06:52] #37 closed

[2015-03-16 17:47] TCB13 opened #59 "PDO::ATTR_ERRMODE"
Hello,

I just noticed that by default `QueryBuilderHandler` always sets this:

[code]

Why is this behavior forced? I tried to change the error mode like:

[code]

But it always trow exceptions. By some reason is ignoring my attribute change...

Thank you.

[2015-03-16 17:50] TCB13 commented on #11
This would be a great addition, however I need to agree with @neoascetic at some point this will make pixie way to much complex than it needs to be. @matthieusieben if you're looking for schema management you might want to take a look at Laravel framework.

[2015-03-17 00:50] TCB13 opened #60 "Backslash on table name breaks UPDATE/DELETE queries"
Hello,

I was trying to get records out of a table called `CMS\Page`, yes there's a backslash on the table name. Unfortunately the backslash seems to break update queries...

I get a PDO exception like:

[code]

This doesn't happen on `select` queries.

By inspecting `general_log` on MySQL server I found out that it was trying to run the following query:

[code]
As you can see, the table name, is

[2015-03-17 13:12] TCB13 commented on #60
Fixed by #61 .

[2015-03-17 13:12] #60 closed

[2015-03-17 14:40] TCB13 opened #63 "->setFetchMode(\PDO::FETCH_ASSOC) on all queries"
Hello,

I can't find a way to use the `->setFetchMode(\PDO::FETCH_ASSOC)` method with raw queries...

Is this possible? What about other queries?

Thank you.

[2015-03-19 15:16] wakerman opened #65 "Whether to support the transaction？"
hi, @usmanhalalit
Whether to support the transaction?

[2015-03-24 09:24] neoascetic commented on #63
This should work. How you build your query exactly, may you provide an example?

[2015-03-24 09:30] neoascetic commented on #59
Yeah, it is better to be able to override this attribute with connection options. That line definitely should go to connection adapter class.

[2015-03-24 09:31] neoascetic commented on #65
Duplicate of #17.

[2015-03-24 10:41] TCB13 commented on #59
As you can see I was unable to set it at PDO level.

On a usual PDO only project I would do something like:

		$dbUrl = "mysql:host=" . $server . ";port=" . $port . ";dbname=" . $db . ";charset=utf8mb4";

		try {
		   parent::__construct($dbUrl, $user, $passwd);
		} catch (\PDOException $e) {
		   print "Error establishing a database connection.";
		   exit();
		}

		$this->setAttribute(\PDO::ATTR

[2015-03-24 10:47] TCB13 commented on #63
Before speaking about raw queries, what's the correct way to return an array on this case?
[code]

This will return an object. Is there a way I can make the `get()` return an array instead? Let's say that returning an object and then casting it to an array is just inefficient since this can be done at the PDO level from the beginning.

I think `->get()` should accept a parameter defining the fetch

[2015-03-24 10:51] neoascetic commented on #63
`setFetchMode(PDO::FETCH_ASSOC)` **is** the correct way to fetch entities as array.

[2015-03-24 11:07] TCB13 commented on #63
I'm kinda confused, check this example:
[code]

This returns:

`Fatal error: Call to undefined method Pixie\QueryBuilder\QueryBuilderHandler::setFetchMode() in index.php on line 34`

Isn't this implemented yet, the way you said, or I'm getting it wrong.

Thank you.

[2015-03-24 11:14] neoascetic commented on #63
Do you have up-to-date version of Pixie?

[2015-03-24 11:23] TCB13 commented on #63
I was getting it using `"usmanhalalit/pixie": "1.*@dev"` on `composer.json`... I changed it to `dev-master` and not it works. Sorry and thank you for the feedback ;)

[2015-03-24 11:24] neoascetic commented on #63
@TCB13 You are welcome. I guess issue now may be closed then.

[2015-03-24 11:49] TCB13 commented on #63
Sure ;)

[2015-03-24 11:50] TCB13 commented on #63
Note, I'll fork the documentation to add this. ;)

[2015-03-25 00:14] #63 closed

[2015-03-26 17:51] TCB13 opened #67 "->insert($data) with objects"
Hello,

Is there any particular reason why at `->insert($data)` the `$data` variable can't be an object for single inserts?
Or better yet, it could accept arrays of objects or an object with multiple objects inside to be inserted.

Thank you.

[2015-03-26 20:28] neoascetic commented on #67
Because dealing with associative arrays is simpler. How Pixie could get all properties of object need to be treated as column names and values? Passed object need to extend `ArrayObject` in this case. All this leads to additional complexity. It is better to Pixie's client to deal with all this cases and simply pass a raw associative array.

[2015-03-28 09:43] usmanhalalit commented on #65
@wakerman, sorry it's not there yet, you can manually start and end transaction. But we we'll be adding this in Pixie.

Closing as duplicate.

[2015-03-28 09:43] #65 closed

[2015-03-28 09:52] usmanhalalit commented on #67
Because you can't iterate through an object, usually.

Btw, you can use something like this if you wish:

[code]

[2015-03-28 09:52] #67 closed

[2015-03-28 09:56] usmanhalalit commented on #59
Thanks @TCB13, keeping it open. As @neoascetic suggested allow overriding can be a good way to go.

[2015-03-28 18:01] TCB13 commented on #67
@usmanhalalit this is what I've been doing for some time now ;). Thanks for the feedback anyway.

[2015-04-02 00:16] TCB13 opened #68 "->setFetchMode() kept between raw queries"
Hello,

There seems to be a behaviour mismatch between the way raw queries and pixie queries handle `->setFetchMode()`.

For instance, If I do:
[code]

The returned array will give me an array as expected. Next time if I just issue:

[code]

Without specifying a fetch mode, it will default to `PDO::FETCH_OBJ` as expected.

This is fine, however in raw queries, the fetch mode value is kept between

[2015-04-02 04:43] neoascetic commented on #68
You are reusing same query builder object in each query, so there is nothing strange.

[2015-04-03 00:49] TCB13 commented on #68
So, why do non-raw queries always "reset" the fetch mode?

[2015-04-03 04:38] neoascetic commented on #68
What if you don't want it to be resetted? There is `newQuery` method also.

[2015-04-04 05:21] usmanhalalit commented on #68
@TCB13 in normal queries we create a new instance of query builder each time `table()` is called. We do this so that we can run multiple queries in parallel. But for raw queries, usually, there is no such need. But I don't think it would be bad to have same behavior for both. So keeping your issue open.

[2015-04-04 13:22] TCB13 commented on #68
@usmanhalalit I agree with the behavior. This way we don't really need to instante a query builder every time we wan't to do a query, however I guess this difference should be documented. Until a few days ago I was expecting raw queries to follow the same policy.

[2015-04-19 20:40] Kaimite opened #69 "where string"
Hello,

is it possible to specify a "where" like this :

```QB::table('my_table')->where("`field` > 35 OR `field2` != 'test' ");```

I want to specify a where string in a form field.

Thank's for your answers and sorry for my english :)

Kaimite

[2015-04-20 04:33] neoascetic commented on #69
Hi. [Raw expressions] (https://github.com/usmanhalalit/pixie#raw-expressions) should work: `->where(QB::raw("your string"))`.

[2015-04-20 05:45] Kaimite commented on #69
It's perfect :)

Thank's

[2015-05-07 21:22] TCB13 opened #70 "Raw() as Join table"
Hello,
So I was tying to build this query:
[code]

I tried to go this way:
[code]

However it doesn't work, I get the following erro stack:
[code]

Any tips on why this happening? If this is expected what's the way to do the table name alias with Pixie? Why isn't a raw query supported?

Thank you.

[2015-05-07 21:43] TCB13 opened #71 "Raw() in WHERE resulting in quoted output"
Hello,

I was doing this: `$query->where("t.id", "IS", self::$mysql->raw("null"));`

If I try to debug the query, I get this:
[code]
However when I run the query, it gives me a PDO Exception with the following:
[code]

By inspecting MySQL's `general_log` I found out, Pixie or PDO are actually trying to escape the "null" value with single quotes:
[code]

Why is this happening? Raw should not escape

[2015-05-07 21:48] TCB13 opened #72 "Insert Raw() at any given point"
Hello,

I was noticing this isn't possible, for e.g.:

[code]

The line `$query->raw("where id != null");` seems to be ignored.

Is there any specific reason why I can't insert a `raw()` on the middle of the query? I guess it wasn't implement do the fluid interface, because we never know what parts of the query are set first...

[2015-05-08 04:38] neoascetic commented on #71
That's why there is `whereNull` query's method.

[2015-05-08 04:43] neoascetic commented on #72
Calling `$query->raw` gives you raw statement wrapper but does not inject it to the current query. This works as expected. You should use special methods to generate parts of SQL query (such as `select`, `where`, `orderBy`, etc). If you want to add some raw value in any particular point of any of these parts, you need to pass raw value as argument to these methods, like that: `$q->where($q->raw('f

[2015-05-08 04:53] neoascetic commented on #70
Try to use `$q->join(['table' => 't', ...` to get an alias. I am not sure if raw statements supported as table definitions though.

[2015-05-08 08:51] TCB13 commented on #71
@neoascetic well, my bad. Still there isn't any documentation about: `whereNull()`, `whereNotNull()`, `orWhereNull()`, `orWhereNotNull()`.

[2015-05-08 08:58] neoascetic commented on #71
Yeah, docs need to be updated to reflect the latest changes. `raw()` doesn't work here because its value passed as parameter for binding and escaping is done by PDO, not by Pixie.

[2015-05-08 09:35] TCB13 commented on #71
Great, gonna do a PR on this doc update very soon.

[2015-05-08 09:36] TCB13 commented on #70
Yes, it does work! Thanks. Should I also add this to the docs?

[2015-05-08 09:37] TCB13 commented on #72
Why don't we have a `raw()` able to inject into the current query? Maybe with a different name...

[2015-05-08 09:41] neoascetic commented on #70
I think it would be great, but please make it not join-specific, since table aliases works for simple selects too when used this way.

[2015-05-08 09:46] neoascetic commented on #72
Because builder builds resulting SQL query from chunks as per SQL specification. If you need something custom, you may use raw queries without builder.

[2015-05-11 10:28] #70 closed

[2015-05-11 10:31] usmanhalalit commented on #72
I think it won't be possible.

[2015-05-11 10:31] #72 closed

[2015-05-14 23:12] Kaimite commented on #69
Hello,

Sorry, i come back a little late but it does not work :(

Here i my code :
[code]

And the result :
SELECT * FROM articles WHERE rub_id = 5  **NULL** ORDER BY art_date_crea DESC LIMIT 50

I don't know how to remove the **NULL** in my query string. Any idea ?

Thank's for your help.

Kaimite

[2015-05-15 08:13] neoascetic commented on #69
This should work, [as per tests](https://github.com/usmanhalalit/pixie/blob/master/tests/Pixie/QueryBuilderBehaviorTest.php#L74). Are you using the latest pixie?

[2015-05-15 12:06] Kaimite commented on #69
Can't do update with composer... Maybe bug from my computer.
Done with git and it works :D

Thank's a lot !

[2015-05-15 12:06] #69 closed

[2015-06-01 13:52] Kaimite opened #75 "get current table name"
Hello,

Is it possible to get the table name il before-select event.

[code]

I'm doing this with regex but there is maybe an easiest way !

Thank's

Kaimite

[2015-06-03 06:36] usmanhalalit commented on #75
Kaimite, currently there is no way of doing it. But I'm keeping your issue open to check if we can add it.

[2015-06-03 06:41] Kaimite commented on #75
Thanks a lot !

For the moment i found a way with an sql parser.

Kaimite

[2015-06-08 23:08] TCB13 opened #77 "whereIn() backslash issue"
Hello,

I was tying to build  a query with a whereIn() call including strings with backslashes...
[code]
However by some reason the escaping seems to be failing and the query object raw SQL ends up as:
[code]
And it doesn't work, If I go into mysql console and try the code generated by Pixie it won't find anything, however... if I add another slash..
[code]
It finds the entries on my DB correctly.

[2015-06-08 23:16] TCB13 commented on #77
Never mind, my mistake. It work fine.

[2015-06-08 23:16] #77 closed

[2015-06-11 06:35] Kaimite opened #78 "after-insert event query object in params ?"
Hello,
is it possible to have the "query object" in after-insert event ?
I use after-insert / update / delete events to log each queries in a flat file.
If my sql server crash I can restore all queries done after my daily backup.

but in the after-select event I can't get query with :
[code]

something like that :
[code]

I tried this :
[code]
but it's not the good query :'(

Thank's !

[2015-06-11 17:50] usmanhalalit commented on #78
Sorry, after insert doesn't receive the query object..

By the way, if your database server crashes, then after-insert won't be called anyway.

[2015-06-12 08:02] Kaimite commented on #78
Hello,

I backup my SQL data every night but il my server crash at 09 pm I loose everything between the backup time and 09 am.

I log every update, delete, insert queries in a daily file. If my SQL server crash at 09 pm i cant restore my last backup + my log file to restore every differents queries beteween backup time and 09 pm :)

This way I loose a minimum.

I'll try to do it a different way...

[2015-06-16 08:52] #78 closed

[2015-07-04 19:11] IngwiePhoenix opened #79 "Just the query."
I am using a migration framework called LibMigrate. It expects me to return the SQL it should run. That is why I do not want to open yet another connection if that is not even required. So...what is the correct way to just obtain the SQL without conencting?

Kind regards, Ingwie.

[2015-07-06 16:25] rukshn opened #80 "whereNot is not working for some reason"
When I try to run a query with whereNot I get the following error,

Fatal error: Call to undefined method Pixie\QueryBuilder\QueryBuilderHandler::whereNot() in /home/ubuntu/workspace.....

[2015-07-07 10:05] usmanhalalit commented on #79
Ingwie, there in no way without some hacks. Btw, you can use the first connection, the query won't run if you get just SQL.

[2015-07-07 10:05] #79 closed

[2015-07-07 10:23] usmanhalalit commented on #80
If you're using 1.x (the default) version then whereNot is not in it, it's on dev-master. Ot you can just use ->where('value', '!=', 'Your value')

[2015-07-07 10:23] #80 closed

[2015-09-05 03:44] iautomation opened #83 "Count not working?"
Using the .*@dev composer version on a server running MariaDB, I cannot seem to get count to work.

Thankyou

[2015-09-05 06:15] usmanhalalit commented on #83
Can you please test with MySQL?

[2015-09-05 06:44] iautomation commented on #83
I've now tried with mysql, with the same result, a return of 0.

The following code is:

[code]

The table consists of one row.

Best

[2015-09-05 07:05] iautomation commented on #83
Sorry for the waste of time. The issue was that I had forced PDO::FETCH_NUM in Pixie/QueryBuilder/QueryBuilderHandler.php on line 50 in order to get array results; and the count function is hard coded for objects.

[2015-09-05 09:05] usmanhalalit commented on #83
Should be fixed, thanks for reporting.

[2015-09-07 20:38] bmanth60 opened #84 "JOIN on literal is quoted with backticks"
When I use a join with a literal, in a multiple on statement, the literal is quoted with backticks:

[code]

Result:

[code]

So I changed my join to use raw:

[code]

Result:

[code]

There are extra backticks left in the query.

[2015-09-14 08:51] usmanhalalit commented on #84
What happens if you use something like this:

[code]

[2015-09-18 00:36] TCB13 opened #86 "whereNotIn() must be of the type array"
Hello,

So I was thing to do the following query:

[code]

My code was:
[code]

However I got this error message:
[code]

Is there any specific reason why Pixie doesn't allow for a sub-query as the `whereIn` / `whereNotIn` second parameter? How can this be accomplished? Apparently a simple `where()` accepts sub-queries.

Thank you.

[2015-09-18 00:55] TCB13 commented on #86
Side Note: I'm aware I could use `LEFT JOIN` in combination with `WHERE PCT.id IS NULL` to accomplish the same result, however the ability to include the sub-queries can become useful in other situations...

[2015-09-21 12:28] bkielbasa commented on #83
I have the same problem. Here is my code:

    public function getRecruitedQuery()
    {
        return \QB::table('user')
            ->where('typ', UserType::W)
            ->where('edycja', _EDYCJA)
            ->where('status', WStatus::RECRUITED);
    }

and when I try to count the results

    $recruitedCount = $wRepository->getRecruitedQuery()->count();

I receive error:

    Fatal error: C

[2015-09-28 15:09] marc937 commented on #83
Pull request #87 should correct it.

[2015-09-28 15:53] marc937 commented on #86
Use
$query = $db->table("RPTC")
            ->select("orig_id")
            ->where($db->raw('`id` NOT IN (SELECT `id` FROM `PCT`)'));

[2015-09-28 18:46] TCB13 commented on #86
@marc937 shouldn't `subQuery()` actually work?

[2015-09-28 18:53] marc937 commented on #86
Yes it should. This issue could be marked as enhancement.

[2015-09-28 19:56] TCB13 opened #88 "whereBetween / orWhereBetween at Grouped Where issue"
Hello,

I was doing the following query:
[code]

However it fails saying there's an error on the SQL. I used `->getRawSql()` to debug this and got this:
[code]

Apparently there's a space missing on the `OR` here:
[code]

Can someone point me where this issue might be? I tried to follow pixie's `_where()` code but got lost.

Thank you.

[2015-09-28 22:09] TCB13 commented on #88
I found where to fix it, please review / accept PR #89 .

Thank you!

[2015-09-29 08:54] TCB13 opened #90 "Raw query as value breaking all WHERE clauses"
Good morning,

I was trying the following:
[code]

However it doesn't work properly as I get the following raw query:
[code]

As you can see the second part of the query was omitted. It's missing `> '2015-04-20 15:00:00'`. This issue seems to affect all `where` queries like `whereBetween`, `orWhere` etc. Is there any specific reason for this inconsistency?

Thank you.

[2015-09-29 11:06] TCB13 commented on #71
Fixed by #89

[2015-09-29 14:07] bkielbasa commented on #83
I can confirm that if fixes the issue

[2015-09-30 01:41] goidx opened #91 "Getting the where clause"
I was wondering if it's possible to get the WHERE clause that makes up the statement from the query?  Would like to be able to get what the WHERE clause that was used in the execution of the query.

Try this call but no results:
$query->getQuery('criteriaonly');

calling
$query->getQuery();  - Returns the entire SQL Query that is to get executed.

any possible way of accomplishing what is required

[2015-09-30 16:29] marcossffilho commented on #11
I think that schema functions should be managed by the migration library, and not by the query builder.

[2015-09-30 21:44] acburdine commented on #17
@usmanhalalit has anyone worked on this at all? If not I can give it a shot.

[2015-10-03 06:59] #83 closed

[2015-10-03 07:03] #88 closed

[2015-10-03 07:07] usmanhalalit commented on #17
@acburdine No one is working on it. It'd great if you can work on it.

[2015-10-03 07:19] usmanhalalit commented on #86
For now please use `Raw`.

[2015-10-03 07:55] usmanhalalit commented on #91
Sorry `$query->getQuery('criteriaonly');` seems buggy. Have to fix but can't give any ETA.

[2015-10-03 08:30] #71 closed

[2015-10-03 11:01] TCB13 commented on #86
@usmanhalalit thanks, that's what I've been doing.

[2015-10-05 18:03] zlodes opened #92 "Please update readme"
Please add information about column aliases to README.md

[2015-10-05 18:22] marc937 commented on #90
Use

[code]

[2015-10-06 14:34] TCB13 commented on #90
@marc937 that's what I've been doing for a while... however I feel like it should accept multiple `raw()` calls. It makes more sense that way.

[2015-10-12 01:43] devsalman opened #95 "How Extends QueryBuilderHandler?"
Hello, im trying to integrating your querybuilder into my own framework and i need to extends your QueryBuilderHandler into my Model class so that i can do like this in my Controller:

[code]

to achieve that im trying to extends your QueryBuilderHandler class like this:
[code]

But i always get this error:

Uncaught exception 'PDOException' with message 'SQLSTATE[08004] [1040] Too many connection

[2015-10-12 07:04] devsalman commented on #95
i found the problem, the problem lies in this statement `$this->table($this->table);`, i tought that statement only set the table name and return the `QueryBuilderHandler` instance but this statement initialize the connection too.

[code]
So, i change my approach like this:

[code]

[2015-10-12 07:04] #95 closed

[2015-10-15 15:58] xfactor5 commented on #91
I need that too. It can be very useful, this way we can reuse a criteria for different tasks such as deleting,selecting or updating.
Can't you just speed this one up? I think it would be very simple I am building a framework on top of pixie and without this feature I can't continue.

[2015-10-16 14:30] xfactor5 opened #96 "Using pixie with variable arguments"
Hi,
Consider:
QB::table(array('test','felan'))
It would be more beautiful if we could use:
QB::table('test','felan')
this can be achieved with func_get_args.
Thanks

[2015-10-18 15:00] xfactor5 opened #97 "Stub file seems to missing"
Hi,
I am using composer to add pixie to my project but the stub file does not seem to download and its missing. Am I doing anything wrong? For now I copied it manually but what's the problem?
Thanks

[2015-10-19 09:58] usmanhalalit commented on #95
You should connect to db only once, maybe somewhere in your app's bootstrap file.

[2015-10-20 14:47] BZinser commented on #91
I use something like this:

`$statements = $query->getStatements();`
`$wheres = $statements['wheres'];`

This gives me an array of the where conditions of the query.

[2015-10-21 10:26] zlodes opened #98 "onDuplicateKeyUpdate & Batch Insert (array of arrays)"
I have an error
[code]
Trying to batch insert and onDuplicateKeyUpdate with data like array of arrays.

This array:
[code]

[2015-11-18 13:31] neoascetic commented on #86
Have same problem

[2015-12-01 19:17] Fishy49 opened #100 "Implement MySQL's USING function for joins"
It would be great to be able to utilize the USING function for joining tables that have identical column names.

$db->table('mytable')->join('othertable', 'using', 'shared_column_name')

The benefit of this is that when you join with USING, you don't need to qualify a table on the shared column:

SELECT * FROM `mytable` INNERJOIN `othertable` USING(shared_column) WHERE shared_column = "value"

[2015-12-02 13:18] ashbike opened #101 "How to write update/insert statements that don't take parameters?"
Example queries:
update test12 set ts2 = NOW();
update test12 set ts2 = ts1;

Tried with the following, they updates the database but throws exception as well.
[code]

[2015-12-08 06:16] usmanhalalit commented on #98
Sorry for the delay. Can you please show me your code?

[2015-12-08 06:28] usmanhalalit commented on #86
@TCB13 can you please update and check if the solution works?
I just merged #99

[2015-12-08 06:35] usmanhalalit commented on #101
[code]

[2015-12-08 06:35] #101 closed

[2015-12-08 16:49] zlodes commented on #98
There is my code:

[code]

Update or Insert works fine, but batch insert on DuplicateKeyUpdate not working.

[2015-12-10 10:19] ashbike commented on #101
:+1: . Thanks.

[2015-12-11 23:24] TCB13 commented on #86
@usmanhalalit the issue seems to be fixed on `whereIn()` however the problem is still present on `whereNotIn()`.

[2015-12-13 04:05] acburdine commented on #75
@Kaimite @usmanhalalit Looking through the code, I think it's possible to add, the only thing I am wondering is the expected behavior if there are multiple tables? Because the `table()` method supports passing an array of tables, should `getTableName()` (or whatever it ends up being called) return that array as well?

I'm also assuming such a method would want the prefixed table names if there are

[2015-12-13 05:02] acburdine opened #105 "Code cleanup"
Hey all,

First, I want to say thanks for the great query builder that Pixie is. I've been using it for a while now, and it has been very useful.

To make it even better, I've had some ideas about stuff that could be done in this library to make it even better. Before I start in on actually implementing any of these, however, I thought it would be a good idea to put them here and see what the gene

[2015-12-25 11:58] usmanhalalit commented on #98
This seems like a bug. Cannot give any ETA for the fix.

[2015-12-25 12:00] #17 closed

[2015-12-25 12:04] usmanhalalit commented on #75
@acburdine Thanks for your thoughts. I think it's not too important right now. Don't want to add complexities. But will keep the issue open to see if few more people want this.

[2015-12-25 12:11] #96 closed

[2015-12-25 12:14] #86 closed

[2015-12-25 12:26] usmanhalalit commented on #105
Thanks @acburdine for all your contribution.

I agree with the PSR-2 thing, though mostly we are there. PHP Code Sniffer can help. If we follow this then EditorConfig seems unnecessary to me.

Agree with the testing point, but yes it's a whole lot of work and at this moment it is not super important. Currently I am looking forward to releasing 1.1 version. For this I need to get familiar with all

[2015-12-25 14:55] acburdine commented on #105
@usmanhalalit I'll get to work implementing php code sniffer but I still think editorconfig would be nice -> mainly because having something there that forces you to use the right settings with spaces/tabs can be helpful when actually doing the code. Php code sniffer will flag tab/space inconsistency in the Travis suite, but in my opinion it would be nice to catch it before that. And it's just one

[2015-12-26 05:55] usmanhalalit commented on #105
Okay, we can go with editorconfig.

[2015-12-27 01:38] javasworks opened #107 "orderBy method DESC/ ASC"
Hi,
I couldn't find it in the documentation. Is there a method to do this? Or should we use the _Raw Query_ ?

Thanks,
Bagus

[2015-12-27 06:02] Fishy49 commented on #107
You can pass the direction (`ASC` or `DESC`) as the second argument:

`$query->orderBy('field', 'DESC');`

Default is `ASC`

[2015-12-27 07:41] javasworks commented on #107
ha! :D thanks Fishy49

[2015-12-27 07:41] #107 closed

[2015-12-28 16:21] acburdine commented on #105
Cool. If there's anything more to be done before releasing a 1.1 version, let me know :smile:

[2016-01-17 16:29] ppalladino opened #110 "whereNotNull undefined"
I am running v1.0.2 and for the most part everything works as documented (great lib btw!), however, I get an exception when accessing the whereNotNull method.

[code]

Below is my implementation. Any help would be appreciated. Thanks!

[code]

[2016-01-29 14:04] zlodes opened #112 "UNION method"
Hello!
How to do MySQL UNION via the QB?
I could not get result when used QB::raw.

[2016-02-02 07:49] bmanth60 commented on #84
@usmanhalalit Sorry for the long delay! I just tried it and I get:
[code]

So USERID is missing quotes, and the query fails. Further, the variable is no longer part of the prepare.

[2016-02-03 22:30] acburdine commented on #110
@ppalladino 1.0.2 is over 2 years out of date. There should be a new release sometime soon; however, the documentation is only correct for master :confused:

If you want to use the master branch via Composer, just use `dev-master` as the version string.

[2016-02-04 14:10] ppalladino commented on #110
Ah! OK, thanks. I'll give that a shot this weekend.

[2016-02-05 17:41] maranqz opened #113 "How to set parameters(wait_timeout, interactive_timeout, net_read_timeout)?"
How to set parameters(wait_timeout, interactive_timeout, net_read_timeout) through the $config to "new \Pixie\Connection('mysql', $config);".

Does not work
![image](https://cloud.githubusercontent.com/assets/3991984/12854090/c374e9e6-cc48-11e5-889d-ad7e8acabd13.png)

Thank you in advance.

[2016-02-08 06:57] #110 closed

[2016-02-17 13:20] cmjunior opened #115 "Uncaught exception 'ReflectionException'"
I´m testing pixie, and had a problem to run in a linux fresh environment with:
apache 2.2 and PHP 5.3.3:

I created a class DBhandler as following:

class DBHandler {
    protected $_QueryBuilder;

    function __construct() {
        require ".././vendor/autoload.php";
        include_once '../config/db.php';

        $config = array(
            'driver' => 'mysql',
            'host' => DB_HOST

[2016-02-17 13:55] TCB13 opened #116 "Join AND / OR missing space on RAW parameters"
I noticed that a query like:

[code]

Will output something like:
[code]

**As we can see there's a missing space here**: `.subscription_id = 68AND Billing\Subs` and  `service_type = 1AND Billing\Subscr`.

Where's the best way to fix this issue? I manage to trace the creation of the JOIN query to JoinBuilder class. I can add the spaces on to the `AND` directly there. But isn't it better to fix thi

[2016-02-17 14:16] TCB13 commented on #116
I also find I could fix this by modifying `BaseAdapter.php` (latest version), on:

Line 413:
`$criteria .= " {$statement['joiner']} {$key} {$statement['operator']} $value";`
(added space before `{$statement`)

Line 422:
`$criteria .= ' ' . $statement['joiner'] . ' ' . $key . ' ' . $statement['operator'] . ' ' . $value . ' ';`
(added ` ' ' .` before `$statement['joiner']`

This solution seems more

[2016-02-18 02:04] TCB13 commented on #116
So I made a experimental fix for this, please check commit d9b6e27

[2016-02-18 02:10] TCB13 commented on #116
Apparently this was fixed here on PR #114 in a much nicer way!

[2016-02-18 02:10] #116 closed

[2016-02-19 09:05] TCB13 commented on #112
Can you post the code you've been trying?

[2016-02-22 19:53] sirhubber opened #117 "Use an existing connection"
Hello!

First of all, I think this library is great, there are a lot of nice tools and frankly, I find it more beautiful than all of the other QueryBuilder's I've seen.

More onto the question, is there anyway to use an existing PDO connection with this library? Because if I created this big application with a lot of twists and turns, it would be nice to be able to reuse the connection, seeing it

[2016-02-22 21:13] sirhubber commented on #117
Hello again, I found out you could do something like this:

`class ExtendedConnection extends Pixie\Connection {
	public function __construct(\PDO $connection)
	{
		$this->adapter = 'mysql';
                $this->setPdoInstance($connection);
		$this->container = new Container();
		$this->eventHandler = $this->container->build('\\Pixie\\EventHandler');

		$this->createAlias('QueryBuilder');
	}
}`

[2016-02-23 11:40] AndreasFurster opened #118 "Insert without data"
Hello,

I'm trying to insert a row without any data. The ID is used to link some other tables to each other.

All this function calls return an error:
`QB::table('tbl_name')->insert();`
`QB::table('tbl_name')->insert(null);`
`QB::table('tbl_name')->insert(array());`

How can i do this?

[2016-02-23 17:34] sirhubber commented on #118
Yeah it seems there's an odd restriction for precisely this, I don't know why this was added.

https://github.com/usmanhalalit/pixie/blob/7df25f46bca44722a2d46a73cb07675751978a91/src/Pixie/QueryBuilder/Adapters/BaseAdapter.php#L135

Not that it's very common to insert empty rows, but what is possible in SQL should be possible through a QueryBuilder, one might think ;)

[2016-02-25 13:21] AndreasFurster commented on #118
Yeah, i know it is strange! But there are some actions with triggers.

[2016-03-14 12:29] aiphee commented on #17
How to determine if the transaction was successful? Do i have to check every statement in it?

[2016-03-14 12:40] acburdine commented on #17
@aiphee when I built transactions initially, I had it return true or false, and I changed that to return $this instead. Looking back that doesn't make much sense. I'll PR a fix to it

[2016-03-14 13:41] Kaimite opened #119 "inject data in before-insert event"
Hello, is it possible to do something like this :

[code]

I know how I can do it in after-insert event but is it possible to do it in before-insert event ?

Thank's

Kaimite

[2016-03-26 08:57] maichanchinh opened #120 "Error using update function with RAW"
I use
`
$data = [ 'count' => $db->raw('count_d',200)];
$db->table ("table")->where('id', 300)->update($data);
`
Show the other is running, but when the update is complete, the field count_d = 0, not 300.

[2016-03-28 08:47] usmanhalalit commented on #120
What are you trying to do with `$db->raw('count_d',200)`?

[2016-04-04 08:50] mewcrazy opened #121 "Problems using Time Intervall"
Hello,

I'm trying to use a time based where clause with your QB:raw() function. But I just can't get it to work. Basically I wanna show all rows created in the last 24hours.

The where clause looks like this: (this works so far as a regular query)
[code]

Now I'm trying to achieve the same thing with the pixie sql markup:
[code]

The query still runs fine, but the above where clause just gets ign

[2016-04-07 02:27] jpmcglone opened #122 "support for lowercase?"
"SELECT * FROM table WHERE lower(name) = 'TeSt'";

How do I build that statement?

[2016-04-07 02:47] Fishy49 commented on #122
$query->table('table')->where(QB::raw ('lower(name) = ?', array('TeSt'))-get();

That should do it.

[2016-04-08 09:36] #122 closed

[2016-04-08 09:41] usmanhalalit commented on #119
You can do things in before-insert, but what do you want to do here with `addDataInSQL`?

[2016-04-08 09:44] usmanhalalit commented on #118
Removed the restriction. Didn't think of it :)

[2016-04-08 09:44] #118 closed

[2016-04-08 09:48] usmanhalalit commented on #117
Thanks @sirhubber

[2016-04-08 09:48] #117 closed

[2016-04-08 10:02] usmanhalalit commented on #121
I'm not sure what result you're expecting. But I can see you're missing one parenthesis after 24 HOUR.
Overall do this
    $query = $qb->table('caliber')->where('created', '>', QB::raw('DATE_SUB(NOW(), INTERVAL 24 HOUR)'))->orderBy('created', 'DESC');

    var_dump($query->getQuery('select')->getSql());

Copy the query and run directly in you database client, then see if you're getting expected re

[2016-04-08 10:03] #112 closed

[2016-04-08 10:10] usmanhalalit commented on #115
That's weird!
I'm totally unable to reproduce the issue.
Can you please use dev-master and check?

[2016-04-08 10:11] usmanhalalit commented on #113
@neoascetic do you have any idea?

[2016-04-08 11:13] neoascetic commented on #113
It should work and it worked for me... let me check

[2016-04-08 11:28] neoascetic commented on #113
I have no idea why it doesn't work for @maranqz, because it works well for me. Maybe there are no timeouts in fact?

[2016-04-08 12:37] Kaimite commented on #119
Hello, i want to add some data in the insert query.

I get data from POST, for exemple a member subscription form :

[code]

Thank's for your help :)

[2016-04-08 15:53] usmanhalalit commented on #119
It's not possible :(

[2016-04-08 15:53] #119 closed

[2016-04-12 03:50] jpmcglone commented on #122
Thanks so much

[2016-04-12 06:45] aiphee opened #123 "IDE Autocomplete"
Hi.

I'm used on PHPStorm autocomplete and PHPDoc in Pixie is not always right.

For example:
https://github.com/usmanhalalit/pixie/blob/master/src/Pixie/QueryBuilder/QueryBuilderHandler.php#L443
Should be
[code]

Without this change, autocomplete doesnt work and IDE calls parameter Error.
I'm using instance of Pixie like this:
[code]
I'm sure there is more of it, does that bother anyone else?

[2016-04-12 07:24] usmanhalalit commented on #113
Thanks for checking @neoascetic

[2016-04-12 07:24] #113 closed

[2016-04-12 07:26] #120 closed

[2016-04-12 07:26] #115 closed

[2016-04-12 07:26] #121 closed

[2016-04-12 07:27] #105 closed

[2016-04-12 07:27] #97 closed

[2016-04-12 07:27] usmanhalalit commented on #97
It has been removed.

[2016-04-12 07:28] usmanhalalit commented on #92
Noted it.

[2016-04-12 07:28] #92 closed

[2016-04-12 07:28] #90 closed

[2016-04-12 07:29] #68 closed

[2016-04-12 07:29] #40 closed

[2016-04-12 17:07] skipperbent commented on #123
There must be something wrong with your PHPStorm setup or you might be using an old version.

It's absolutely normal to use ```@return static``` as return type. This ensures that the correct type is returned, if the class is extended by another class. You can use `self` as a return type aswell BUT this will only return the class-name of the current class, so it would give the wrong return type if

[2016-04-12 22:35] mewcrazy commented on #121
I did, but the outputted query looks like this:

[code]

Basically I want to display only the newest  entries/rows of the last 24 hours since my table has 350.000 rows so far and it might rise up to a million by the end of this year.

I tried every code snippet I could find but I can't get any of them to work with QB::raw :/ Also I couldn't get this one to work:

[code]

I would appreciate so much

[2016-04-13 06:11] aiphee commented on #123
I dont think there is something wrong with my PHPstorm.
Im using EAP version.
The static is working when i use Pixie like this:
`QB::table('my_table')->find(3);`
But not when i use it like object
`$iframe->db->table('messages')->get();`

So when i return `QueryBuilderHandler` it works for both, but when i return static, it works only for Static style.

Also, param line is wrong.
`@param $tables Si

[2016-04-13 06:28] skipperbent commented on #123
You could add an annotation for your local property
[code]

If you are using the alias ``QB`` you have to set the annotation yourself as it's created dynamically.

However it does work with my PhpStorm 2016.1 without any modifications:

![image1](http://i.imgur.com/Ivzmyat.png)
![image2](http://i.imgur.com/dOCwnxh.png)

*Param syntax is like this:*

`@param string Method Description`

See more her

[2016-04-13 07:27] aiphee commented on #123
OK, thank you :+1:  :)

[2016-04-13 07:27] #123 closed

[2016-04-13 19:50] acburdine opened #126 "Backport changes to the 1.x branch"
Hey, thanks for the 2.0 update!

Would you be able to backport those changes to the 1.x branch? It's over a year old.

My request is because I'm on a server that can't reasonable upgrade to php 5.4 at the moment, and thus I can't use the 2.0 version. I was using `dev-master` in composer up until the recent release.

As far as I can tell, there aren't any bits of code that _don't_ work with php 5.3

[2016-04-17 04:03] 199911 opened #129 "Support on CASE WHEN clause and IF THEN clause"
I read the documentation and it does not mention CASE WHEN or IF THEN clause.

I have some query like

[code]

How to translate to pixie?
Is there any workaround on it?

Thanks!

[2016-04-24 08:25] eL-Prova opened #130 "Multi-tendancy, make possible to manipulate data in before events"
Hi,

So far I am very happy with the implementation. Its clean and works like it should be, so first of all my credits to you for you work!

I was interested if it is possible to make the data for the insert can be manipulated before insert to the database.
In my situation I have a multi-tendant application. I would like to add by default the tendant id for the loggedin user.
I am aware the work a

[2016-04-24 17:17] eL-Prova commented on #130
Hi @usmanhalalit,

I have made a fix for this to use the data collection where I can make mutations in the before-insert/before-update. If you are interested in the solution, let me know, in that case I will make a pull request.

[2016-04-25 18:42] eL-Prova commented on #126
Is it not easier to make a fork and make the changes by yourself? I think its over the top to request changes the backport where the version for php is less supported (most cases hosters etc will upgrade to newer versions..)

[2016-04-26 14:33] drozdza opened #131 "SubQueries in where() not working properly"
I would like to do something like this:
[code]
It produces working good working rawSql() but don't work itself.

To fix this problem I need to do workaround like this:
[code]

[2016-04-26 22:03] eL-Prova opened #132 "WhereIn for subqueries"
I missing a example for whereIn with a subquery.
Maybe an idea to make the method also available?
My solution for now is:

[code]

[2016-04-26 22:06] dustingraham commented on #130
I was going to suggest the before-insert event, however it looks like the insert data does not get passed to the event, so I suppose this would require a code change. Seems like the insert data should be available during the before-insert event, and be able to be mutated.

    // This doesn't work, but it would be nice.
    QB::registerEvent('before-insert', 'users', function(&$data)
    {

[2016-04-26 22:14] eL-Prova commented on #130
Hi @dustingraham, thats correct, I had to change a little bit more.
The problem is that the func_get_args() is a reference by itself but get lost from the real reference.
So what you have to do is changing the way it works now. I made the change by always push a array with optional information to the events. Each key is linked as reference.

The arguments of my events is changed to this:

`QB::reg

[2016-04-26 22:23] dustingraham commented on #130
I think that sounds cool, but depends on @usmanhalalit whether he thinks it would be good to pull in.

[2016-04-28 18:35] eL-Prova commented on #130
I will make a fork and make my changes, after that I will do a pull request.

[2016-04-30 23:02] skipperbent opened #133 "Can't figure out how to add alias to tables"
Cannot figure out how to create a join with the same table and renaming it using the `as` parameter to create an alias. Is it supported? If so, I would really like to see an example.

**Example:**

[code]

[2016-05-09 13:10] LewisTheobald commented on #98
I've just pushed up onto: https://github.com/madebymagnitude/pixie

Which has a patch for working with batch onDuplicateKeyUpdate.

[2016-05-12 23:04] eL-Prova commented on #133
Using a subquery can make it work.

[2016-05-18 21:25] eL-Prova commented on #130
@dustingraham (CC @usmanhalalit ) I have made a pull request for the behaviour.

Usage is very simple:

QB::registerEvent('before-insert', ':any', function($qb, $table, &$args)

$args["data"]["column"] = have_an_id_to_set; //data key is the optional value

[2016-05-25 15:16] acburdine commented on #126
Closing because implemented it myself (github.com/acburdine/pixie-backports)

[2016-05-25 15:16] #126 closed

[2016-06-02 14:27] Kaimite commented on #115
Juste for info :
On my dev machine / preprod machine / own dedicated server (OVH) works fine.
On my production machine (PHP Version 5.3.3-7+squeeze19) same error...

Maybe en php bug... don't know.

Kaimite

[2016-06-08 15:14] danielskowronski opened #142 "cannot get two columns with same nam in multiple tables where joining"
I have relation in DB on two tables and I want to select two columns with same names on that tables. When I do so by `select(array("table1.id","table2.id"))` in return I get only one "id" field - value from table2 (probably value is overridden).

Dirty solution is to use `\QB::raw("table1.id as tab1_id, table2.id as tab2_id")`. Is it desired state or will you fix pixie to detect such collisions an

[2016-06-08 17:59] eL-Prova commented on #142
offcourse its overridden. The select will return 2 times the same name (id in your case) this is convert to a stdClass (similar like array key/value pair) where key already exists.

[2016-06-08 19:01] marc937 commented on #142
You don't have to use raw, you can use `select(['table1.id' => 'alias_id1', 'table2.id' => 'alias_id2'])`

[2016-06-14 15:17] DaaGER opened #143 "Connection with "PDO::FETCH_ASSOC" option."
Sorry, for my english.

Hi.
I want "array", instead of "object" in all queries.
My config:

[code]

And this case don't work, but if I using "setFetchMode" it's working.
Everytime write "setFetchMode" I dont want. Please, help.

[2016-06-15 06:25] eL-Prova commented on #143
Hi,

I have no idea what you want.
Can you make yourself clear with an example?

[2016-06-15 08:37] DaaGER commented on #143
I want know, how i can get result of quries in array, without use "setFetchMode" everytime.

[2016-06-15 08:43] eL-Prova commented on #143
Ok you want an array instead of a stdObject
You can use events to make that possible. You register on each select query after select that the fetchmode will be translated to an array.

In your event you are using this:

$array = json_decode(json_encode($object), True);

[2016-06-29 07:04] roystijsiger opened #144 "Multiple database connection, last connection is overwriting"
`<?php class Database extends Base{

    //defautl array of database settings(this will be configured differently later on);
    public static $DbSettings = array(
        'api' => array(
            'driver' => 'mysql',
            'host' => DB_HOST,
            'database' => 'api',
            'username' => 'root',
            'password' => 'usbw',
            'charset' => 'utf8'
        ),

[2016-06-29 19:03] eL-Prova opened #145 "Event wont be triggered when using join"
I have a query for join a other table.
When calling the before-select event the table collection is just one item but should be two.
One for the current table to select
One for the joining table

Anyone have a solution for this?

[2016-07-03 18:31] eL-Prova commented on #119
@Kaimite it is possible in my fork. Take look at the pull request or my fork

[2016-07-03 19:51] Kaimite commented on #119
Thank's. I will take a look.

Kaimite
Le 3 juil. 2016 8:31 PM, "eL-Prova" <notifications@github.com> a écrit :

[2016-07-07 18:24] leosilvano opened #146 "insert() method returning false on Postgresql"
PDO::lastInsertId() requires the name of the sequence from the table so it returns the last id correctly... Is there any way to make a insert with a returning condition?

Something like `insert into users (name) values ('name') returning id;`

[2016-07-09 22:47] acburdine opened #148 "Support `select <column> AS <alias>` by using an associative array in select method call"
It would be cool to have an extension to the `select` behavior which would allow you to pass in an associative array of columns to select. The keys of the array would be used as the aliases for the array values.

Example:

[code]

Based on my knowledge of the existing codebase this shouldn't be too hard, and would be willing to work on a PR if it's desired.

As an extension it might be nice to be

[2016-07-10 12:00] acburdine commented on #117
I think there's a way to do this automatically through PDO's [getAttribute method](http://php.net/manual/en/pdo.getattribute.php). That would make the constructor above look something like:

[code]

[2016-08-07 21:44] marc937 commented on #148
You can already do this if I remember well, but its ['column' => 'alias', ...]

[2016-08-15 12:54] DaaGER opened #149 "Don't work leftJoin(['table'=>'alias'],...)"
If I use
....
`->leftJoin(['dr_herbs'=>'herb'], 'mnn.parent_herb_id','=','herb.recommend')`
...
in query I get
`LEFT JOIN \`` AS `` ON `mnn`.`parent_herb_id` = `herb`.`recommend``

but I want
`LEFT JOIN \`dr_herbs` AS `herb` ON `mnn`.`parent_herb_id` = `herb`.`recommend``

[2016-09-27 20:21] DarkMukke opened #150 "Fix PHP Doc Blocks"
There seem to be many PHP Doc block incorrectly defined.

Eg :
[code]

needs to be

[code]

on a side note, in php 5.6 we should use splat vs func_get_args

[2016-09-27 20:59] DarkMukke commented on #150
IF you want i can create a PR for that as I already fixed it locally

[2016-09-29 04:24] robertaodj opened #151 "Row Count"
Sorry my english.

How to know the number of rows affected after an operation?
Would use at **PDO**:  [PDOStatement::rowCount](http://php.net/manual/pt_BR/pdostatement.rowcount.php) .

[2016-09-29 13:54] robertaodj opened #152 "Return options for INSERT operations, UPDATE and DELETE"
As with the 'queries' sql return run it would be possible
for **INSERT, UPDATE, and DELETE** operations?

[code]

or simply:

`$Query->getSQL();`

It would be possible to also have the return of the number of rows affected?

[code]

And yet the affected ID?

[code]

[2016-10-03 07:08] phpwebdev commented on #152
yes this will be nice option

[2016-10-05 10:37] kingofnull opened #153 "how to add sub condition in where like `(x=1 or y=1) and (z>0 and z<>1)`"
how can i add sub conditions?
for example I want generate a query like this:

`SELECT filed FROM table where (x=1 or y=1) and (z>0 and z<>1)`

how can i generate it?

[2016-10-11 19:29] luccas641 commented on #144
https://github.com/usmanhalalit/pixie/pull/154/commits/a8891fef63ac02e10da15a44a27daaefe5aa311c
I made a fix for it.
It should work.

[2016-10-19 21:03] mrcnpdlk commented on #153
I think that you should use code like this below:
[code]

And response:
`SELECT `field` FROM `table ` WHERE (`x` = 1 AND `y` = 1) AND (`z` > 1 AND `z` <> 1)`

[2016-10-27 16:35] skipperbent commented on #133
No because subQueries makes aliases like this

[code]

So if i need something like this the subQuery will not be enough

[code]

[2016-10-27 16:36] skipperbent commented on #133
It would make sense if there was an optional alias option on the `table` method.

[2016-11-15 16:03] mrcnpdlk commented on #84
I had similar problem. Then I used subquery.
For your example:

[code]

It works!

[2016-11-15 17:29] bmanth60 commented on #84
@mrcnpdlk cool, thanks! I will try that.

[2016-11-15 20:05] mrcnpdlk commented on #149
I have to use sth like this below:

[code]

There is not the associative array but simple two-arguments array.

[2016-11-15 20:14] mrcnpdlk commented on #133
Solution below:

[code]

I checked. It works!

[2016-11-15 20:27] mrcnpdlk commented on #131
I wanted to but I couldn't reproduce your case.
I checked and in my opinion it works.

Could you give us all query?

[Pixie v2.0, Mysql]

[2016-11-15 20:45] mrcnpdlk commented on #151
It depends on operation. For example
**For INSERT 1 row:**
[code]
It returns ID directly:
[code]
_By carefull, returned ID is always string, so in many cases you have to map this value to int._

**For INSERT >1 row:**
[code]
It returns array of IDs:
[code]
**For UPDATE/DELETE row**
For UPDATE/DELETE row(s) we have to use rowCount() method.
[code]
It returns numbers of changed rows. Value can by eq

[2016-11-16 23:34] dlmorais-13 opened #155 "Transaction exception handling should rollback and throw exception"
Hi everyone!

I was peeking at pixie code and stumbled on transaction code.
I think it should re-throw caught exceptions.
That's very important in order to do a decent error handling at most applications.

[code]

[2016-12-01 11:32] angujo opened #156 "'Viocon\Container' not found"
Hi, I setup the project manually from github, and it is missing the above class.

Any assistance?

[2016-12-13 22:38] mrcnpdlk commented on #156
try
`composer install`
inside pixie directory

[2016-12-30 17:45] mikegioia commented on #148
I think this should be closed out. However, the notes on how to do this should probably also be in the readme.

[2017-01-16 05:03] acburdine opened #157 "Nested where clauses result in weird behavior"
So I couldn't think up a better title for this issue, but will attempt to explain what I was experiencing (and what I think is the issue).

Basically, I have a query that has several nested WHERE clauses (aka `WHERE (A OR (B AND C) OR D)`), and to generate those WHERE clauses I am using a custom where function, like so:

[code]

Now, here's the weird behavior: The where clause of the subquery (exh

[2017-01-16 05:07] acburdine commented on #148
Agreed, I'll try and open a PR sometime soon to add the docs to the README.

[2017-01-16 05:07] #148 closed

[2017-01-29 07:49] himanshuahuja96 opened #158 "Query Results as Standard Class Object"
[code]

Results Below
[code]

But Find Only Returns Single Standard Class Object`
[code]
[code]
But We always need a array in result ,each time we need to convert it to array then we can use it.
Is there is way to get result like below

[code]

**Please Suggest Any Way to Achieve this Directly**

[2017-01-29 12:22] eL-Prova commented on #158
@himanshuahuja96 I have no idea how your database structure is designed. But If an user/member id is set in the first array, you can use the join function...So join on, examples are well written in the documentation. Otherwise I dont understand your question.

[2017-01-30 18:18] himanshuahuja96 commented on #158
I am asking that each find query results in **stdclass Object** and if get is used it returns **Array of Array** as result. IF i want a single result in array then firstly i have to convert it to array and then it becomes array of array i have shown above. I am asking that is there is default way to get a single array containing results..

[2017-01-30 18:33] eL-Prova commented on #158
Your English makes it hard to read for me. If you select the rows, you join the other table. Your result will be extended. So each row has the columns and you can select the first. Thats enough am I correct? Otherwise can you make your example easier so the structure become more clear?

[2017-02-17 12:04] rash039 opened #160 "insertedid is not working"
Inside readme in Insert section :-
`$data = array(
    'name' => 'Sana',
    'description' => 'Blah'
);
$insertId = QB::table('my_table')->insert($data);
echo $insertId ;
`
Output:
""

[2017-03-09 09:18] MarkoNV commented on #155
I agree, rolling back is not handling Exception and it should be rethrown so other code could handle it.
Alternative solution is to handle Exceptions inside the closure. If Exception occurs, rollback, handle it and throw TransactionHaltException to signal that transaction is already finished.

[2017-04-03 09:22] Napas opened #161 "Incorrect field names quatation in query"
When using 'database_name.table_name.field_name' as a field name in query it becomes

\`database_name\`.\`table_name.field_name\`.

Should be:

\`database_name\`.\`table_name\`.\`field_name\`

[2017-04-03 09:27] usmanhalalit commented on #161
Thanks for reporting @Napas . Will take a look.

[2017-04-03 09:42] eL-Prova commented on #161
@usmanhalalit is alive xD

[2017-04-03 09:44] usmanhalalit commented on #161
@eL-Prova hehe 😄 . Yep, coming back. Had serious eye surgeries, I had a retinal detachment.

[2017-04-03 10:07] eL-Prova commented on #161
(Y) I hope you are doing well

[2017-04-13 14:12] Napas commented on #161
Any luck?

[2017-04-23 12:49] ZaidSaid opened #162 "Agrigate functtions"
Hi. I don't know how to use Aggregate functions like sum, min or max. When I am using them I am getting an error like this Column not found: 1054 Unknown column 'sum(quantity) as quantity' in 'field list'.

[2017-04-29 01:43] m-mohr opened #163 "Prefix added to join aliases"
When using a table prefix and join aliases, the prefix gets added to the aliases. I think this is a bug.

`
$dbConfig = array(
	'driver'    => $config['dbsystem'],
	'host'      => $config['host'],
	'database'  => $config['database'],
	'username'  => $config['dbuser'],
	'password'  => $config['dbpw'],
	'charset'   => 'utf8mb4',
	'collation' => 'utf8mb4_unicode_ci',
	'prefix'    => $config['dbprefix

[2017-05-17 17:32] dragonattack opened #164 "How you check if your last query (i.e. update) was successful?"
I could imagine it should be:
[code]
But it's not. How you do that?
Thanks.

[2017-05-17 19:31] eL-Prova commented on #164
What is your result right now?

[2017-05-17 21:13] dragonattack commented on #164
[code]

[2017-06-02 12:37] RyanHipkiss opened #165 "getQuery() on update/insert doesn't work."
Why is this the case? It shows undefined method.

[2017-06-11 20:38] vincentwinkel commented on #59
Hi,
Thanks for this amazing query builder.
What about this issue ?

[2017-06-11 21:18] eL-Prova commented on #165
GetQuery requires the type. So insert or update should be given in the first argument.

[2017-06-19 18:06] dragonattack opened #166 "SELECT where FLOATs"
Querying MYSQL directly gives:
[code]
It's OK. Can't achieve the same with Pixie:
[code]
It translates to:
[code]
14,69 instead of 14.69
How should I query floats then?
Thank you.

[2017-06-19 19:53] eL-Prova commented on #166
You have to escape your value. So
`$exists = db::table('prices')
	->where('diesel', '14.69')
	->first();`

[2017-06-19 20:05] dragonattack commented on #166
It tried it, but that translates to:
[code]
and MYSQL doesn't select floats that way:
[code]

[2017-06-19 20:14] eL-Prova commented on #166
I have an column, float(5,2)
My query:

But I got my record back...

[2017-06-19 20:44] dragonattack commented on #166
hm.. that's strange..
[code]
I have InnoDB, mysql 5.5.55-0ubuntu0.14.04.1
I'll research a bit what could be the problem..

thanks for your input, eL-Prova!

[2017-06-19 21:07] eL-Prova commented on #166
If you need extra help, please reply then I will take a look for you.

[2017-06-27 08:37] #165 closed

[2017-06-29 09:51] TCB13 commented on #164
At lest in my case it is raising exceptions if and insert / update goes wrong...

[2017-06-29 10:05] TCB13 opened #167 "Update docblock to include data types and better support IDEs"
Hello,

I've noticed that the docblock isn't very compatible with Phpstrom and 4k IDEs because it doesn't declare the datatype of the parameters.

Here is the declaration of `table()`:
![captura de ecra 2017-06-29 as 10 49 02](https://user-images.githubusercontent.com/6315832/27682501-b10ad028-5cba-11e7-80b2-64d2c2dfc6f8.png)

Since it lacks the datatype, Phpstorm complains right there... and then

[2017-06-29 10:12] TCB13 commented on #160
@rash039 can you post your table structure. Also what PHP version are you running?

[2017-07-01 05:18] rash039 commented on #160
@TCB13
**PHP version:**
PHP 5.3.8 (cli)
Copyright (c) 1997-2011 The PHP Group
Zend Engine v2.3.0, Copyright (c) 1998-2011 Zend Technologies

**Database:**
PostgreSQL
**Version:**
psql (PostgreSQL) 9.3.6

**Table structure:**
CREATE TABLE ayushakti_patients_therapists_list (
  id  BIGSERIAL PRIMARY KEY,
  name VARCHAR(100) NOT NULL,
  msisdn BIGINT NOT NULL,
  custid integer,
  therpistids VARCHAR(

[2017-07-04 11:19] TCB13 commented on #160
@rash039 I can't confirm this but this is probably a bug with your old php version / database. In modern versions with mysql it is working properly.

[2017-08-29 14:11] richwandell opened #170 "Add query tags similar to drupal"
I like Pixie so far. Considering using this for a piecemeal framework built from composer packages and micro frameworks.

I am happy to see that pixie has query events implemented that are related to tables, however there is a feature I would love to see which is "query tags" and the ability to alter queries using query events based on tag instead of table.

Is this already possible using pixie?

[2017-09-10 15:44] lordmemed opened #171 "How to use it properly for beginners. (?)"
Hai. @lordmemed is here.

i just want to get a simple and clear examples for using it on abstract class and a class that extends from it.
sorry for requesting this from you @usmanhalalit or other people that might help. because i just a newcomer on PHP Classes.

here is my plan to do,
[code]
i was try this by myself but return nothing.

so, could someone help me in this case?

[2017-09-10 19:27] eL-Prova commented on #171
Hi,

Just copy the source.
Then Create your DatabaseQuery class
Creates the connection and stores in your DatabaseQuery in a field
Set a Facade for your request of the query builder.
Then create a query class or how you would like to call.
And just create a method with the query in it.

So in pseudo

[code]

[2017-09-11 03:16] lordmemed commented on #171
thanks.
is that working with namespace?

[2017-09-11 03:36] lordmemed commented on #171
hai, @eL-Prova.
thanks for your answer.

how about abstraction and extends from it?
is there another example/pseudo-example maybe?

[2017-09-11 07:01] eL-Prova commented on #171
Why you need an abstraction? The QueryBuilderHandler should be on his own. SOLID ;-) (Single responsibility)
I think you need to try it with this and when needed create new ticket so your question will be more focused on your problem.

[2017-09-11 09:08] lordmemed commented on #171
try this, and get error ;
[code]
`Fatal error: Call to a member function getContainer() on null in vendor\Pecee\Pixie\QueryBuilder\QueryBuilderHandler.php on line 66`

any ideas? T_T

[2017-09-11 09:12] eL-Prova commented on #171
1. Where is $dbconf coming from? Constructor? Then you miss argument
2. If you watch the source you see that $this->container is from the constructor which is Connection, that is $this not because it is DatabaseQuery. So new Connection should be put instead of the $this

[2017-09-12 17:57] lordmemed commented on #171
@eL-Prova $dbconf is config array for pixie connection.

oh,  i has solved that problem. thanks.

just more question.
1. is it okay use join for many tables and select all row then fetch from it? will it slow it down? or using too much cpu resources?
2. is pixie automatically shutdown a connection after we use it?

thank you very much.

sincerely,  @lordmemed

_Sent from my Polymer 2 using [FastHu

[2017-09-12 18:26] usmanhalalit commented on #171
@lordmemed this is not a place for homework discussion. Please continue elsewhere.

[2017-09-12 18:26] #171 closed

[2017-09-14 12:20] scott-wmm opened #172 "Multiple conditional joins"
Hey,

I need the ability to do multiple joins with a conditional 'AND' on each one.

For example the current query builder reads:

[code]
However this returns all results that match all the given categories. I need to be able to only return the results that match both. Changing the 'orWhere' to simply 'where' returns no results as the singular JOIN can't match multiple conditions.

The raw query I

[2017-09-27 08:55] cvng commented on #123
Hi,

For this specific issue, I ended up making a singleton and the IDE stop complaining:

[code]

Used like this:

[code]

Hope it will help others :)

[2017-10-10 17:08] hastom opened #174 "Custom search operators"
Hi,

I want to add some custom operators to where method (like more flexible between that adapts if there is only one value in array) and support for literal operators like 'ge' (>), 'le'(<) and others. So I extended QueryBuilderHandler class and overrided "where" and "orWhere" methods. Everything worked fine until I tried to use my custom operators inside nested criteria. I figured out that it ha

[2017-10-17 12:51] TCB13 commented on #150
@DarkMukke go ahead. Thank you.

[2017-10-17 12:54] TCB13 commented on #164
@dragonattack so?

[2017-10-17 12:57] TCB13 commented on #150
This make my #167 but since you've the code, just PR.

[2017-10-17 13:03] TCB13 commented on #158
@himanshuahuja96 from what I could understand here, you should be able to call: `->setFetchMode(\PDO::FETCH_ASSOC);` to force the output as an associate array or `->setFetchMode(\PDO::FETCH_OBJ);` to set it as `stdClass` objects.

Plase note that in raw queries seems like you always have to set otherwise you get weird results like you reported. I've come across this in the past.

[2017-10-18 12:37] DarkMukke commented on #150
The PR is not perfect though, it fails a test and I did this too long ago to remember why.
I had to re-fork and make some changes so it took me a bit to get around to do it.

[2017-10-18 12:44] TCB13 commented on #150
@DarkMukke I noticed there are other additional changes not related to the DocBlocks. What about just committing DocBlock changes right now and ignore everything else? 👍

[2017-10-19 10:56] DarkMukke commented on #150
Right, that's how I had it in my local, Will make a small PR for just dock blocks

[2017-10-20 09:17] FinesseRus commented on #123
@skipperbent

Where did you fix it? I see it neither on the `master` branch nor on the `2.0`.

[2017-10-20 10:53] FinesseRus commented on #167
This comments are called **PHPDoc**. I join the issue.

[2017-10-20 10:53] TCB13 commented on #167
@FinesseRus check #150 .

[2017-10-20 10:57] TCB13 commented on #160
@rash039 can you test the fix in #147 ?

[2017-10-23 01:20] FinesseRus commented on #132
This works well:

[code]

[2017-10-31 21:59] todiadiyatmo opened #177 "Add new ConnectionAdapters"
Is it possible to add connection adapter using custom class outside this plugin? I check that all connection must be using `Pixie/ConnectionAdapters/` namespace

[2017-11-02 09:41] usmanhalalit commented on #177
If it extends https://github.com/usmanhalalit/pixie/blob/master/src/Pixie/ConnectionAdapters/BaseAdapter.php then it should work fine.

[2017-11-02 09:41] #177 closed

[2017-11-18 11:08] #132 closed

[2017-11-18 11:12] usmanhalalit commented on #166
`getRawSql` is for testing/debugging purpose only and yes it's bug as noted in #141.

[2017-11-18 11:12] #166 closed

[2017-11-18 11:14] #158 closed

[2017-11-18 11:14] #164 closed

[2017-11-18 11:23] usmanhalalit commented on #174
You're not doing wrong, that's a limitation of the lib. Can you please come up with a list of operators you would like have added?

[2017-11-18 11:26] usmanhalalit commented on #170
@richwandell not possible now

[2017-11-18 11:26] #170 closed

[2017-11-18 11:27] #59 closed

[2017-11-18 11:31] usmanhalalit commented on #157
Nested and subqueries seem to have some issues, will mark those as "experimental".

[2017-11-18 11:31] #157 closed

[2017-11-21 20:19] TCB13 commented on #149
I guess this can be closed @usmanhalalit

[2017-11-21 20:20] TCB13 commented on #156
This can be closed @usmanhalalit .

[2017-11-21 20:21] TCB13 commented on #133
This can be closed. Probably related to #149. @usmanhalalit

[2017-11-21 20:26] TCB13 commented on #142
As @eL-Prova this is normal and expected behavior due to how PHP works. @marc937 is a good workaround for this issue so it can be closed @usmanhalalit .

[2017-11-21 20:30] TCB13 commented on #152
@robertaodj take a look at the @mrcnpdlk at #151 .

[2017-11-21 20:32] TCB13 commented on #155
+1 on this.

[2017-11-21 20:33] TCB13 commented on #129
You can use the `Raw Query` options for this.

[2017-11-22 12:37] #129 closed

[2017-11-24 10:51] #142 closed

[2017-11-24 10:51] #133 closed

[2017-11-24 10:51] #156 closed

[2017-11-24 10:51] #149 closed

[2017-11-24 10:54] usmanhalalit commented on #172
@TCB13 can you please check the issue?

[2017-11-24 12:21] TCB13 commented on #150
@DarkMukke any news on the smaller just DocBlock PR?

[2017-11-25 13:30] TCB13 commented on #161
@Napas can you show us a practical use case where it is important to specify the database name? Thank you.

[2017-11-28 10:36] DarkMukke commented on #150
@TCB13 been on holiday (off-line), it's on my todo-list

[2017-12-13 12:43] Napas commented on #161
@TCB13 Joining tables from different databases.

`
QB::table('db1.some_table')
     ->innerJoin(
        'db2.some_table',
        'db1.some_table.foreign_key',
        '=',
        'db2.some_table.primary_key'
     )
`

Aliasing table names might be a workaround for that, but still, it is a workaround.

[2017-12-13 14:40] TCB13 commented on #172
@scott-wmm I might be getting the wrong ideia on this, can you provide us with a dump of a a test database / data where I can do some tests?

[2017-12-13 14:41] TCB13 commented on #167
Discussion continues on #150 .

[2017-12-13 14:41] #167 closed

[2017-12-13 14:43] TCB13 commented on #144
@luccas641 can you get around the `eval()` I really want to merge this.

[2017-12-13 14:52] TCB13 commented on #11
#138 would close this.

[2018-01-20 07:51] #11 closed

[2018-01-30 04:01] kikideveloper commented on #63
<select class="form-control">
					<?php
						echo "<option value='0'>-</option>";
						$data = $base->select("level");
						// $q=;
						// foreach ($q as $key => $value) {
						// }
						try {
							while ($row=$data->fetch(PDO::FETCH_ASSOC)) {
								echo "<option value='$row[id]'>$row[name]</option>";
							}
						} catch (PDOException $e) {
							die($e->getMessage());
						}

[2018-01-30 13:32] usmanhalalit commented on #63
@kikideveloper Please check the docs and do it that way.

[2018-02-05 00:14] mewcrazy opened #179 "Query cachin / MYSQLND_QC_ENABLE_SWITCH"
Hey,

Is it possible to achieve query caching with pixie sql yet? I have a statistics page with a ->count() query, usually no problem, but in this case my table has 5 million rows and the count takes up to 5seconds. So I need some way to easily cache it. I read about MySQL caching and would like to use it with pixie:

http://php.net/manual/de/mysqlnd-qc.quickstart.caching.php

Kind Regards,
Dennis

[2018-02-05 07:48] eL-Prova commented on #174
And a simple example can be helpful

[2018-02-05 19:17] TCB13 commented on #179
@mewcrazy have you considered other caching methods built in on MySQL?

[2018-02-08 09:04] allejo commented on #150
Any updates on this?

[2018-02-08 10:52] DarkMukke commented on #150
Oh woops, i have the commit, let make it a PR

[2018-02-08 12:33] mtarlac opened #180 "count() problem when groupBy is user"
Hello

Not sure am I missing something, but seems that count() doesn't work properly when groupBy is used

For example
`$query = PB::table('orders')
 ->leftJoin('admins', 'admins.id', '=', 'orders.admins_id')
 ->select('orders.*', 'admins.first_name', 'admins.last_name');`
`$no = $query->count();`

works but

`$query = PB::table('orders')
 ->leftJoin('admins', 'admins.id', '=', 'orders.admins_id')

[2018-02-08 12:39] eL-Prova commented on #180
Have you looked what the raw output is of both? Can you please post that too?

[2018-02-08 12:52] mtarlac commented on #180
Hi

Raw query seems Ok

For example for categories table

[2018-02-16 07:52] StephanKrauss opened #181 "optimize query with use index"
Hello,

i have a query.
Do pixie support the using from index.

http://code.openark.org/blog/mysql/7-ways-to-convince-mysql-to-use-the-right-index

Your sincerly

Stephan

[2018-02-16 13:03] eL-Prova commented on #181
Hi, it does not have that support yet. However you can make a PR for the support.

[2018-02-16 16:01] kikideveloper commented on #63
which documents @usman.it

[2018-02-17 07:30] usmanhalalit commented on #181
@StephanKrauss Not supported. And would not like to add support either as it's too specific.

[2018-02-17 07:30] #181 closed

[2018-02-17 11:59] usmanhalalit commented on #179
@mewcrazy not really interested in making caching a part of the library, it can be done outside of Pixie though. Thanks for your thoughts though.

[2018-02-17 11:59] #179 closed

[2018-02-17 12:15] usmanhalalit commented on #180
Hi @mtarlac, can you please run this query in your database manually and see what it returns?
[code]
If it return `1` there then don't you think it's a data or querying issue?

[2018-02-17 13:38] mtarlac commented on #180
Sure but it returns >1 rows since there are more than one order...

[2018-02-17 13:41] usmanhalalit commented on #180
So when querying manually it returns correct and when querying using Pixie
it returns 1?

On Sat, Feb 17, 2018, 19:38 mtbl <notifications@github.com> wrote:

[2018-02-17 13:50] mtarlac commented on #180
Yes..

Code:
`$query = PB::table('orders') ->leftJoin('admins', 'admins.id', '=', 'orders.admins_id') ->select('orders.*', 'admins.first_name', 'admins.last_name')->groupBy('orders.id');

$no = $query->count();`

[2018-02-17 14:21] usmanhalalit commented on #180
I'll try to reproduce, thanks!

[2018-02-25 09:50] ngdanghau opened #182 "orderBy Rand"
Hi, Why don't i find orderby rand in the documentation. Can you help me?
Thanks,
Hau

[2018-03-10 13:48] usmanhalalit commented on #182
@ngdanghau It's not implemented

[2018-03-10 13:48] #182 closed

[2018-04-10 14:10] vikkio88 opened #184 "onDuplicateKeyUpdate is not valid syntax for Postgresql"
This nice feature is spitting
[code]
as `ON DUPLICATE` is not valid postgres syntax [this](https://www.postgresql.org/docs/current/static/sql-insert.html#SQL-ON-CONFLICT) would be.

I am planning to make a couple of changes to fix this in my [currently open silly PR](https://github.com/usmanhalalit/pixie/pull/183) but feels like no one is contributing to this project anymore?

Is this project aban

[2018-04-10 14:27] TCB13 commented on #184
Hi, many thanks for your feedback and time.

The project is not abandoned, however the development is a little bit slower this days because all the main features are now implemented and working properly (at least on MySQL/MariaDB).

We would love to see your commits on postgresql. :)

[2018-04-11 12:33] vikkio88 opened #185 "Specifying FetchMode with options"
I tried to specify to fetch mode globally with 'options'
[code]

but basically that does not matter because it is set anyway on `->get()` via
[code]
on https://github.com/usmanhalalit/pixie/blob/master/src/Pixie/QueryBuilder/QueryBuilderHandler.php#L178

And if you try to set it on the `QueryBuilderHandler` using the `setFetchMode()` method, you will lose it next time you are going to use a `->tab

[2018-04-11 12:44] TCB13 commented on #185
You're correct and we have been over this in the past. #143. They only place where `FETCH_MODE` is kept is on raw queries #68. This would be a nice improvement but @usmanhalalit probably need to check it.

[2018-04-11 12:47] vikkio88 commented on #185
I opened a PR with a possible fix https://github.com/usmanhalalit/pixie/pull/183

[2018-04-11 12:57] TCB13 commented on #143
@eL-Prova @DaaGER I know this an old issue, however the same request surfaced again at #185. I believe that you were misunderstood at the time @DaaGER .

[2018-04-11 13:07] TCB13 commented on #24
@vikkio88 you're replaced `\Pixie\Exception` by `Exception` and remove the global space at line 50.

[2018-04-11 13:36] TCB13 commented on #24
I guess this logic also applies to `insert` statements...

[2018-04-11 13:58] #185 closed

[2018-04-11 14:37] vikkio88 commented on #150
this is fixed by #183

[2018-04-11 14:38] vikkio88 commented on #150
@DarkMukke you using phpstorm arent you? LoL I found this annoying to and fixed it while fixing another bug

[2018-04-11 14:43] TCB13 commented on #150
Yeah @vikkio88 it is true. @DarkMukke can you check if the changes by @vikkio88 at 220b920904b9f60a7d61eba9554d936f4fda7977 completely fix this? In my opinion they do.

[2018-04-11 14:47] vikkio88 commented on #150
I tested in my local env and they did. but is good to have another pair of eyes on it

[2018-04-11 20:12] amoulin974 opened #186 "try to add TIME function in WHERE"
Hi,
I have try to add TIME function in WHERE clause.

The new function BuildCriteria in Baseadapter.php

[code]

[2018-04-11 23:58] TCB13 commented on #186
Hi @amoulin974 can you clarify what you're trying to accomplish here?

[2018-04-12 00:00] TCB13 commented on #143
Fixed by 220b920904b9f60a7d61eba9554d936f4fda7977

[2018-04-12 00:00] #143 closed

[2018-04-12 05:04] amoulin974 commented on #186
Hi. With this modification  its possible to add
->where (YEAR(field),=,value)

Its was possible with raw but its was dangerous if value was given by a form

[2018-04-14 13:59] usmanhalalit commented on #186
@amoulin974 you've to use `Raw` and sanitize the value by yourself.

[2018-04-14 13:59] #186 closed

[2018-04-20 03:39] dragonattack opened #187 "SELECT ... FOR UPDATE"
https://dev.mysql.com/doc/refman/8.0/en/innodb-locking-reads.html
Now we have to use RAW queries for this.

What do you think about adding this to pixie?

[2018-04-30 10:54] James-A1 opened #188 "PDOException: 'SQLSTATE[55000]' on insert (lastInsertId)"
Hi guys, I'm using postgres with uuid's as primary keys, not auto incremental keys. When I try to insert using pixie, I'm getting the error:
[code]

It does insert the record, however I get this error afterwards. The error is being caused by trying to get the last insert id from pdo:

[code]
PDO is apparently trying to call `lastval` but it causes an error since there is no sequence defined, i.e,

[2018-05-02 11:47] James-A1 opened #189 "Postgres: Update has syntax error"
Hi, I'm using postgresql and I just tried to use the pixie's update method like so:
[code]
It is giving me a syntax error by adding the `LIMIT 1` to the end of the query.

[2018-05-06 10:30] amoulin974 commented on #186
Thanks a lot.

Can you explain me how do you sanitize value ?

[2018-05-06 15:15] Blaster-777 opened #190 "increment"
Hi, is there any method to increase value of a INT field?
like this or any solution :
`QB::table("table_name")->select("field_name")->increase()`

[2018-05-09 14:48] ArthurHoaro opened #192 "insert() doesn't work with table alias"
With an alias associated to a table, the insert query will use the table alias instead of its actual name.

**How to reproduce**
[code]

**Actual result (MySQL)**

with generated SQL
[code]

**Expected result**
The full « table » name is used in the `INSERT INTO` query, such as:
[code]

**Use case**
It also affects `updateOrInsert()`, which is a great helper that can be used on complex queries, wh

[2018-05-28 11:00] ManuelMolina97 opened #193 "Update accumulating column"
Is there any way to approach this:

[code]

So query would look like this:

[code]

Without having to use raw queries?

PD: I know doing `'number' + 1` is wrong, it is just a way to explain myself.

[2018-06-30 08:41] randohinn opened #194 "Usage in a namespaced application and running CREATE statements"
Hi!

1. What's the best way to use this in a namespaced application, so that all my classes under namespace `whatver` have access to the connection QB?

2. What's the best way to use this for running table creation statements?

[2018-06-30 08:44] usmanhalalit commented on #194
1. `QB` is meant for this, it's like global you'll have access to `\QB` anywhere in your app.

2. Table creation is not supported but feel free to use `QB::query('CREATE TABLE....')`

[2018-06-30 08:44] #194 closed

[2018-06-30 08:50] randohinn commented on #194
Ah, thanks. Early in the morning, and forgot the `\`

[2018-08-22 15:31] lotarbo opened #196 "update and order by"
Hi, i use pixie 2.0 and need use update query with order by
but i found, you dont add order by statment in query
https://github.com/usmanhalalit/pixie/blob/5820ef4f62c7be697767fd84830b7ad6fc057375/src/Pixie/QueryBuilder/Adapters/BaseAdapter.php#L267

why?)

[2018-09-12 05:42] ankithherle commented on #160
Still getting `Uncaught PDOException: SQLSTATE[55000]: Object not in prerequisite state: 7 ERROR:  lastval is not yet defined in this session` with with latest `master` in `PSQL 10.4.`

Can anyone confirm this ?

Also any solutions for this ?

[2018-09-12 05:42] ankithherle commented on #160
@TCB13

Still getting `Uncaught PDOException: SQLSTATE[55000]: Object not in prerequisite state: 7 ERROR:  lastval is not yet defined in this session` with with latest `master` in `PSQL 10.4.`

Can anyone confirm this ?

Also any solutions for this ?

[2018-10-31 19:38] voronyak-insegment commented on #3
what about count(distinct(`table`.`column`)) ?

[2018-11-09 08:39] #3 closed

[2019-01-01 02:19] catchem99 commented on #189
Postgres doesn't have LIMIT on update query (https://www.postgresql.org/message-id/3D6A7692.2F43B18%40Yahoo.com)

[2019-01-01 02:22] catchem99 opened #198 "How to close connection?"
Can pixie close a connection? It's not in the documentation..

[2019-01-11 14:22] jonasfrey opened #200 "pass array to where"
instead of
`$query->where("post_id" , 1)->where("category_id" , 2);`

i would like to
[code]

Edit:

i extendet the code by myself:
src/Pixie/QueryBuilder/QueryBuilderHandler.php
between line 608 and 609 i inserted
[code]

[2019-01-11 15:51] TCB13 commented on #200
@jonasfrey thank you for this, however I must advise that one can use `array_keys()` and `array_values()` to accomplish the same result in a much more efficient way because it avoids a `foreach`.

[2019-01-13 22:50] eL-Prova commented on #200
I believe your suggestion is not improving the code directly. The way of defining the where is something personal. I like to see the where in multiple lines because its more clear how many wheres I am using.

[2019-01-14 16:41] jonasfrey commented on #200
yeah thats your opinion

[2019-01-14 20:13] TCB13 commented on #200
I'm with @eL-Prova on this.

[2019-02-12 06:13] Deepak-nb opened #201 "Select with special characters"
Select query not working with special characters like( &,(), etc) in where clause.

[2019-02-12 08:39] TCB13 commented on #201
Can you provide examples? What dabatase are you using?

[2019-02-12 15:46] Deepak-nb commented on #201
I am using mysql database.
example:
$regional_data_tbl="abc";
$report_id="1234";
$node_data="Axillary (Level I, II & III) - Left";

$saved_data = $conn->table($regional_data_tbl)->setFetchMode(PDO::FETCH_ASSOC)->where('report_id', ' = ', $report_id)->where('specimen_id', ' = ', $val->id)->where('level_node', ' = ',$node_data)->get();

[2019-03-19 19:05] mromid opened #202 "issue in count()"
when i run this query every thing is ok :
 $stmt = $db->table('call_history')
            ->select('id')
            ->where('caller_id', $operator_id)
            ->groupBy('user_id')
            ->get();

but
run this query :
 $stmt = $db->table('call_history')
            ->select('id')
            ->where('caller_id', $operator_id)
            ->groupBy('user_id')
            ->count();

group

[2019-03-19 20:44] eL-Prova commented on #202
@mromid Its hard to read what you are trying to say.
What do you expect? The 5 or the 30 records?
Have you tried to see the extracted sql? In this case what is your raw query output...

[2019-07-20 09:50] aboly opened #204 "SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'data' at row 1 in"
[code]

How can I fix this error?

[2019-08-06 02:16] JKwang00 opened #205 "How can i use external variable in transactions?"
hello everyone.
I need your help and i hope to get solution of it.
I tried below code.
$userid = "test";
\QB::transaction(function ($qb) {
    echo $userid;
    $qb->table("user_table")->where("userid","=",$userid)->update(array('user_status'=>'1'));
});

i can't get $userid
let me kinda know how can i get external variable.

best regards.

[2019-08-07 16:52] catchem99 commented on #202
I think I got what he means,
Steps to reproduce:
Import [this](https://github.com/usmanhalalit/pixie/files/3478037/purchasez.zip) really simple table
OR
make one like:
**purchase_id,purchase_code**
1,abc
2,def

Then use `QB::table('TABLENAME')->groupBy('purchase_code')->count();` //**This will return 1**
while if you use a standard query `SELECT * FROM TABLENAME GROUP BY purchase_code` //**It shou

[2019-08-26 00:03] mtarlac commented on #202
Same problem like #180

[2019-09-30 12:12] eL-Prova commented on #205
You need to assign `global`

So code need to be:

[code]

[2019-12-05 00:46] JKwang00 commented on #205
Thank you for reply.

[2019-12-05 00:46] #205 closed

[2020-09-07 00:47] #84 closed

[2020-12-27 10:46] ashickur-rahman commented on #200
I would like have the same thing.

[2021-02-22 08:04] aliakbarazizi commented on #163
i use db::raw for solve this

[2021-07-08 00:01] dragonattack commented on #200
Common use for this is checking if the record exists:
[code]
So this makes sense.

[2021-08-17 00:30] dragonattack commented on #198
There's no simple way to do this in PDO. [Documentation](https://www.php.net/manual/en/pdo.connections.php) suggests:

I didn't manage to do this, so I [destroy this connection from mysql itself](https://stackoverflow.com/a/57512617/1572120).
[code]
try/catch to dismiss `Fatal error: 1317 Query execution was interrupted`
May be someone can do it correctly with nulls to make it more cleaner.
But it

[2021-10-30 12:19] liamka commented on #198
@usmanhalalit ?

[2022-10-06 15:45] becken10s opened #206 "return random data"
how to return random data?

->orderBy('RAND()') not working.

[2022-10-29 09:19] ngdanghau commented on #206
You can use this way
->orderBy(DB::raw("RAND()"))